<body id="aboutpage">
  <div id="container">
    <h1>About Buff Market</h1>

    <p>Buff Market is a marketplace for students to buy or sell student tickets at market value. Students register with their CU identikey to ensure authenticity. Buyers and sellers can view listings, connect through the marketplace, and use a secure checkout process.</p>

    <h2>Key Features</h2>
    <ul class="features">
      <li>Student Identification Login</li>
      <li>Ability to post and bid on ticket offerings</li>
      <li>3rd Party Ticket Transfer</li>
      <li>Secure Payment Integration</li>
      <li>Market Price Orderbook</li>
      <li>Share Listing Feature</li>
    </ul>

    <h2>Team Members</h2>
    <div>
      <ul class="team-members">
        <!--{{#each teamMembers}}
          <li>
            <strong>{{name}}</strong> - Email: <a href="mailto:{{email}}">{{email}}</a>, 
            GitHub: <a href="{{github}}" target="_blank">{{githubUsername}}</a>
          </li>
        {{/each}}-->
        <li>Amir Mhamdi - Email: <a href="mailto:ammh1801@colorado.edu">ammh1801@colorado.edu</a>, GitHub: amhamdi416</li>
        <li>Andrew Perper - Email: <a href="mailto:anpe8060@colorado.edu">anpe8060@colorado.edu</a>, GitHub: andrewperper</li>
        <li>Daniel Hill - Email: <a href="mailto:dahi2387@colorado.edu">dahi2387@colorado.edu</a>, GitHub: dahi2387</li>
        <li>Kyan Nelson - Email: <a href="mailto:kyne9841@colorado.edu">kyne9841@colorado.edu</a>, GitHub: kyannel</li>
        <li>Maija Grimes - Email: <a href="mailto:magr2409@colorado.edu">magr2409@colorado.edu</a>, GitHub: maijagrimes</li>
      </ul>
    </div>

    <p class="footer">Visit our <a href="https://github.com/dahi2387/cu-marketplace" target="_blank">GitHub Repository</a> for more details on the project.</p>
  </div>
</body>